body{
    background-color: #3B3B3B;
}

#editorCode{
    width: 60vw;
    height: 84vh;
}

img{
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}
.navbar-brand{
    font-weight: bolder;
}

.navbar{
    background-color: #6A5667;
}

.editor{
    background-color: #282a36;
    width: 60vw;
    height: 90vh;
}

.buttons{
    top: 10%;
}

.btn{
    color: #ffffff;
}
.btn:hover{
    color: #f6abab;
}

.output{
    background-color: #4b4b4b;
    width: 40vw;
    height: 90vh;
}

ul>li{
    list-style-type: none;
}
ul>li>pre{
    margin-top: 0;
    margin-bottom: 0;
    overflow: auto;
    line-height: 1.8;
}

.log--default {
    color: #000;
}

.log--string {
    color: #f0f0f0;
}

.log--number {
    color: #e4e6e3;
}

.log--boolean {
    color: rgb(197, 197, 255);
}

.log--undefined {
    color: grey;
}

.log--error {
    color: rgb(255, 133, 133);
}

.log--object {
    color: rgb(70, 218, 218);
}

.log--array {
    color: rgb(196, 196, 230);
}

.log--function {
    color: rgb(255, 208, 0);
}

/* media query */

@media(max-width: 992px ) {
    #editorCode{
        width: 100vw;
        height: 60vh;
    }
    .editor{
        width: 100vw;
        height: 60vh;
    }
    .output{
        width: 100vw;
        height: 40vh;
        margin-top: 2.5rem;
    }
}