body{
    background-color: #3B3B3B;
}

#editorCode{
    width: 60vw;
    height: 84vh;
}

.navbar{
    background-color: #6A5667;
}

.editor{
    background-color: #3B3B3B;
    width: 60vw;
    height: 90vh;
}

.buttons{
    top: 10%;
}

.btn{
    color: #ffffff;
}
.btn:hover{
    color: #f6abab;
}

.output{
    background-color: #616C73;
    width: 40vw;
    height: 90vh;
}